</html><h1> To Do List </h1>
<% @todos.each do |todo| %>
<div class="well">
  <h1> <% link_to todo.description, todo %> </h1>
  <p> <% todo.completed %> </p>
</div>
<% end %>

 <p> <%= link_to 'Crear ToDo', todos_new_path %> </p>
 <p> <%= link_to 'Crear ToDo', todos_new_path %> </p>
